# Dependencies
node_modules/
backend/venv/
backend/env/
__pycache__/
*.pyc
*.pyo

# Databases & Uploads
*.db
*.sqlite3
backend/local_vehicle_connect.db
backend/uploads/*
!backend/uploads/.gitkeep

# Environment variables
.env
*.env
!.env.example

# Build & Output
frontend/dist/
frontend/build/
.DS_Store
Thumbs.db
